<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/browse">Browse</a></li>
            <li><a href="/add">Add Books</a></li>
        </ul>
    </nav>

    <main>
        <div id="barcodeScanner" class="card">
            <h3>Image Source</h3>

            <button id="videoBtn">Enable Camera</button>

            <input id="fileInput" type="file" style="display: none;" accept="image/*">
            <input id="imgUrl" type="url" placeholder="Paste an image URL then click outside" required style="display: none;">
            
            <div id="mobile_reader"></div>

            <div id="viewport">
                <img id="barcodeImage" crossorigin="anonymous">
                <canvas id="canvas"></canvas>
                <video id="video" muted autoplay playsinline></video>
            </div>
        </div>

        <div id="newBookDialogue" class="card">
            <h3>Title</h3>
            <h4>Author</h4>
            <div class="coverArtLarge"></div>

            <div id="acceptScannedBook">
                <p>Does this information look correct?</p>
                <button id="acceptBook">Yes</button>
                <button id="rejectBook">No</button>
            </div>

            <div id="keepScanningBooks">
                <p>Would you like to scan another book?</p>
                <button id="continueScanning">Yes</button>
                <button id="cancelScanning">No</button>
            </div>
        </div>
    </main>

    
    <script src="https://cdn.jsdelivr.net/npm/@undecaf/zbar-wasm@0.9.15/dist/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@undecaf/barcode-detector-polyfill@0.9.20/dist/index.js"></script>
    <script src="https://unpkg.com/html5-qrcode@2.3.4/html5-qrcode.min.js"></script>
    <script type="module" src="scripts/bookScanner.js"></script>
    <script type="module" src="scripts/userInteractionUI.js"></script>
</body>