<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KGSLibrary - Error 404</title>

    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/browse">Browse</a></li>
            <li><a href="/add">Add Books</a></li>
        </ul>
    </nav>

    <main>
        <div class="card">
            <h3>I think you are lost...</h3>
            <p>We don't know how you got here but do not worry, we can get you out! Let's go back home.</p>
            <p><a href="/">Return</a></p>
        </div>
    </main>
</body>
</html>